<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://code.angularjs.org/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Khand|Roboto+Condensed" rel="stylesheet">
    <script src="script_angular.js"></script>
    <title>Gambling app</title>
</head>
<body ng-controller="controller as ic">
    <div class="container2">
            <img src="images/List.png" class="menu_button" ng-click="ic.menu_toggle=false">&nbsp</img>
        <div class="whole_menu" ng-hide="ic.menu_toggle">
            <div class="menu">
                <a class="menu_option account_info" href="#/accountinfo" ng-click="ic.menu_toggle=true"><img src="images/User.png">&nbsp</img> JoeBab<br>I have: $127.90</a>
                <a class="menu_option" href="#/" ng-click="ic.menu_toggle=true"><img src="images/Football.png">&nbsp</img> Game Screen</a>
                <a class="menu_option" href="#/bethistory" ng-click="ic.menu_toggle=true"><img src="images/GraphBar.png">&nbsp</img> Bet History</a>
                <a class="menu_option" href="#/leaderboard" ng-click="ic.menu_toggle=true"><img src="images/Trophy.png">&nbsp</img> Leader Board</a>
                <a class="menu_option" href="#/stuffs" ng-click="ic.menu_toggle=true"><img src="images/Question.png">&nbsp</img> Stuffs</a>
                <a class="menu_option" href="#/morestuffs" ng-click="ic.menu_toggle=true"><img src="images/Question.png">&nbsp</img> FAQ</a>
            </div>
            <div class="menu_close" ng-click="ic.menu_toggle=true"></div>
        </div>
    </div>
<div class="container" ng-view></div>
</body>
</html>