*{
    font-family: 'Roboto Condensed', sans-serif;
}

.league_landing{
    width:100%;
    height: 10%;
}
.date_landing{
    background-color: #33ccff;
    height: 3%;
    text-align: center;
    overflow: scroll;
    vertical-align: middle;
    padding: 0;
    margin:auto;
    width:80%;
}
.sched_landing{
    background-color: lightgrey;
    width:80%;
    height: 80%;
    position: center;
    margin:auto;
}

.container{
    height:100vh;
    width: 100vw;
}

.menu_button{
    border: solid 2px black;
}
.whole_menu{
    display: none;
}
.menu{
    top:0px;
    left:0px;
    position: absolute;
    width: 9%;
    height: 46%;
    display:inherit;
    background-color: #1DA1F2;
    z-index: 10;
}

.menu_close{
    top:0px;
    right:0px;
    position: fixed;
    height: 100%;
    width: 60%;
    z-index: 5;
}
body{
    margin:0;
    font-size:0;
}
.container{
    font-size:20px;
}

.dates{
    display:inline-block;
    border: solid 2px black;
    height: 100%;
    width: 18%;
    line-height:100%;
}

.league_button{
    display: inline-block;
    font-family: 'Khand', sans-serif;
    font-size:38px;
    padding:8px;
}
.home_img, .away_img{
    display: inline-block;
    height: 55px;
    position: relative;
    left: 42%;
    top: 53px;
}
/*.away_img{*/
    /*display: inline-block;*/
    /*float: right;*/
    /*height: 100px;*/
/*}*/
.game{
    border: solid 2px black;
    height: 173px;
    background-color: white;

}
.bet{
    border: solid 2px black;
    height: 100px;
    display:none;
    background-color: whitesmoke;
    border-radius: 25px;
}

.selected{
    border: 2px black solid;
    border-radius: 60px;
}

.game_date{
    background-color: white;
    display:block;
    text-align: center;
    font-size: 107%;
    font-family: 'Concert One', cursive;
}
.teams_playing{
    margin:auto;
    position:relative;
    top:10vh;
    left: 37%;
}