*{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    margin:0;
    font-size:0;
}
.league_landing{
    width:80%;
    height: 50px;
    margin:0 0 3% 10%;
}
.date_landing {
    height: 50px;
    margin:0 0 0 10%;
    text-align: center;
    width: 80%;
    max-width:875px;
}
.sched_landing{
    font-size: 20px;
    margin:0 0 10% 10%;
    width:80%;
    margin-top:-2px;
    max-width:875px;
    position: relative;
}

.menu_button{
    margin: 10px;
    z-index: 5;
    height: 35px;
}
.menu_button:hover{
    cursor: pointer;
}
.menu{
    transition: all linear 0.5s;
    top:0px;
    left:0px;
    position: absolute;
    background-color: white;
    width: 40vw;
    max-width: 400px;
    height: 100vh;
    display:inherit;
    z-index: 10;
    border-right: 3px black solid;
}

.menu_close{
    top:0px;
    right:0px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,.5);
}

.container {
    height:95vh;
    width: 100vw;
    max-width: 92vw;
}
.container2 {
    font-size: 20px;
    top: 0;
    left:0;
    z-index: 10;
}
.dates{
    display:inline-block;
    border: solid 2px black;
    height: 100%;
    width: 32%;
    font-size: 30px;
    line-height: 45px;
    background-color: lightgrey;
    margin-right:-2px;
}
.dates:hover{
    cursor: pointer;
}
.league_button{
    display: inline-block;
    font-family: 'Khand', sans-serif;
    font-size: 2.8vw;
    margin-left: 3.5%;
}
.league_button:hover{
    cursor: pointer;
    color: deepskyblue;
}
.home_img {
    height: 35px;
}

.away_img {
    height: 35px;
}
/*.away_img{*/
    /*display: inline-block;*/
    /*float: right;*/
    /*height: 100px;*/
/*}*/
.game{
    font-size: 20px;
    border: solid 2px black;
    border-bottom: solid 1px black;
    padding: 2%;
    background-color: white;
    position:relative;
}

.game:hover{
    cursor: pointer;
}
.bet{
    border: solid 2px black;
    height: 370px;
    background-color: whitesmoke;
    text-align: center;
    transition: all linear 0.3s;
    overflow:hidden;
}

.game_date{
    background-color: white;
    display:block;
    text-align: right;
    font-family: 'Concert One', cursive;
}
.teams_playing{
    font-size: 30px;
}

.teams_playing_div {
    text-align: left;
}

.modal-content {
    text-align: center;
    font-size: 4vw;
}
.modal-body{
    border: 2px solid deepskyblue;
    border-radius: 0;
}
.confirm-mdl, .cancel-mdl {
    margin: 10px;
}
.spread_bet{
    width: 35%;
    background-color: white;
    font-size: 25px;
    margin: 15px 35px;
    display: inline-block;
    text-align: center;
    border: 3px solid deepskyblue;
    border-radius: 0;
    color: deepskyblue;
}

.confirm_button{
    width: 80%;
    font-size: 50px;
    text-align: center;
    border: 5px solid deepskyblue;
    margin: 20px auto;
    color: deepskyblue;
    border-radius: 0;
    background-color:white;
}

.selected{
    background-color: deepskyblue;
    color: white;
}

.selected_date{
    background-color: white;
}

.menu_option{
    border-bottom: solid black 2px;
    display: block;
    padding: 20px;
}

.menu_option, a{
    color: black;
    font-size: 40px;
}
a:hover{
    color:black;
    text-decoration:none;
}
.menu_option:hover{
    background-color:lightgrey;
}

.confirm_button_fake{
    width: 80%;
    font-size: 50px;
    text-align: center;
    border: 5px solid deepskyblue;
    border-radius: 0;
    margin: 20px auto;
    color: deepskyblue;
    background-color:white;
    opacity: .3;
}
* {
    outline: none;
}

.ng-hide {
    height: 0;
}
.account_info{
    background-color: deepskyblue;
}

.account_info:hover{
    opacity: .7;
    background-color: deepskyblue;
}
.bet_made_lander{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.bet_made{
    border: 2px solid deepskyblue;
    border-radius: 100%;
    color: deepskyblue;
    font-weight: bold;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 28px;
    font-size: 15px;
    text-align: center;
}

.faq{
    font-size: 20px;
}

.loader_background {
    position: fixed;
    top: 0;
    left:0;
    background-color:black;
    opacity: .5;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}
.loader{
    position: absolute;
    top: 30vh;
    left: 45%;
    border: 16px solid lightgrey; /* Light grey */
    border-top: 16px solid deepskyblue; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    z-index: 6;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.hide{
    display: none;
}

.modal_color{
    color: deepskyblue;
}

.funds{
    font-size: 30px;
}
.title{
    text-align: center;
}

.sel{
    font-weight: bold;
    color: deepskyblue;
}