
<div class="loader">iBet<span class="loader_spinner"></span></div>
<div class="loader_background"></div>
<div class="league_landing">
    <div ng-class='ic.league_highlight[0]' id='league_nfl' class="league_button" ng-click="ic.getGameData('current','NFL')">NFL</div>
    <div ng-class='ic.league_highlight[1]' id='league_nba' class="league_button" ng-click="ic.getGameData('current','NBA')">NBA</div>
    <div ng-class='ic.league_highlight[2]' id='league_mlb' class="league_button" ng-click="ic.getGameData('current','MLB')">MLB</div>
    <div ng-class='ic.league_highlight[3]' id='league_nhl' class="league_button" ng-click="ic.getGameData('current','NHL')">NHL</div>
    <div ng-class='ic.league_highlight[4]' id='league_ncaaf' class="league_button" ng-click="ic.getGameData('current','NCAAF')">NCAAF</div>
    <div ng-class='ic.league_highlight[5]' id='league_ncaab' class="league_button" ng-click="ic.getGameData('current','NCAAB')">NCAAB</div>
</div>
<div class="date_landing">
        <div class='dates' ng-class='ic.highlightDate[0]' ng-click="ic.getGameData('previous')">
            Previous Games
        </div>
    <div class='dates' ng-class='ic.highlightDate[1]' ng-click="ic.getGameData('current')">
            Today's Games
        </div>
    <div class='dates' ng-class='ic.highlightDate[2]' ng-click="ic.getGameData('future')">
            Future Games
        </div>
</div>
<div class="sched_landing">
    <div class="no_games_warning" ng-hide="ic.displayDataLength"><h1>No games available</h1></div>
    <div ng-repeat='bet_data in ic.displayData'>
        <div class='game' ng-click="ic.betToggle($index)">
            <div class="game_date">
                <span ng-if="bet_data.final_score_a>-1" class="final_display">Final</span>
                <span ng-if="bet_data.utc_game_time < ic.liveTime && bet_data.final_score_h <0" class="final_display">Betting Action Closed</span>
                <span ng-if="bet_data.home_spread==0 && bet_data.overunder_points==0" class="final_display">Odds Not Yet Available</span>
                <span class = 'sel2'>
                    {{bet_data.game_date}}
                </span>
                <span class = 'sel3'>
                    {{bet_data.game_time}}
                </span>
            </div>
            <div class='teams_playing_div'>
                <div class="teams_playing"><img class="home_img" ng-src="{{bet_data.logo_src_a}}"> {{bet_data.full_name_a}} <span ng-if="bet_data.final_score_a==-1 && bet_data.overunder_points>0 && bet_data.utc_game_time > ic.liveTime" class="game_odds">{{bet_data.overunder_points}}</span> <span ng-if="bet_data.final_score_a>-1" class="final_score">{{bet_data.final_score_a}}</span> </div>
                <div class="teams_playing"><img class="away_img" ng-src="{{bet_data.logo_src_h}}"> {{bet_data.full_name_h}} <span ng-if="bet_data.final_score_h==-1 && bet_data.overunder_points>0 && bet_data.utc_game_time > ic.liveTime" class="game_odds"><span ng-if="bet_data.home_spread>0 && bet_data.final_score_h==-1">+</span>{{bet_data.home_spread}}</span> <span ng-if="bet_data.final_score_h>-1" class="final_score">{{bet_data.final_score_h}}</span></div>
            </div>
            <div class="bet_made_lander">
                <div class="bet_made" ng-if="bet_data.bets_placed.spread=='true'">S</div>
                <div class="bet_made" ng-if="bet_data.bets_placed.moneyline=='true'">ML</div>
                <div class="bet_made" ng-if="bet_data.bets_placed['over/under']=='true'">O/U</div>
            </div>
        </div>

        <div ng-class="{myClass: myvarformyclas, }"></div>

        <div class="bet" ng-class="bet_data.start_not_started" ng-show="bet_data.bet_toggle">
            <button class='spread_bet' ng-class='{selected:ic.highlight[0], spread_bet_fake: ic.liveTime>bet_data.utc_game_time, spread_bet_fake2:bet_data.spread_odds_h==0&&bet_data.spread_odds_a==0}' ng-click="ic.saveData(0,bet_data.game_id,'1',0,bet_data.home_spread,bet_data.spread_odds_a,0,bet_data.abbr_name_a,bet_data.home_spread*-1,$index)">{{bet_data.abbr_name_a}} <span ng-if="bet_data.home_spread*-1>0">+</span>{{bet_data.home_spread*-1}} (<span ng-if="bet_data.spread_odds_a>0">+</span>{{bet_data.spread_odds_a}})</button>
            <button class='spread_bet' ng-class='{selected:ic.highlight[1], spread_bet_fake: ic.liveTime>bet_data.utc_game_time, spread_bet_fake2:bet_data.spread_odds_h==0&&bet_data.spread_odds_a==0}' ng-click="ic.saveData(1,bet_data.game_id,'1',1,bet_data.home_spread,bet_data.spread_odds_h,1,bet_data.abbr_name_h,bet_data.home_spread,$index)">{{bet_data.abbr_name_h}} <span ng-if="bet_data.home_spread>0">+</span>{{bet_data.home_spread}} (<span ng-if="bet_data.spread_odds_h>0">+</span>{{bet_data.spread_odds_h}})</button>
            <button class='spread_bet' ng-class='{selected:ic.highlight[2], spread_bet_fake: ic.liveTime>bet_data.utc_game_time, spread_bet_fake2:bet_data.moneyline_odds_h==0&&bet_data.moneyline_odds_a==0}' ng-click="ic.saveData(2,bet_data.game_id,'2',0,bet_data.moneyline_odds_a,bet_data.moneyline_odds_a,2,bet_data.abbr_name_a,bet_data.moneyline_odds_a,$index)">{{bet_data.abbr_name_a}} ML (<span ng-if="bet_data.moneyline_odds_a>0">+</span>{{bet_data.moneyline_odds_a}})</button>
            <button class='spread_bet' ng-class='{selected:ic.highlight[3], spread_bet_fake: ic.liveTime>bet_data.utc_game_time, spread_bet_fake2:bet_data.moneyline_odds_h==0&&bet_data.moneyline_odds_a==0}' ng-click="ic.saveData(3,bet_data.game_id,'2',1,bet_data.moneyline_odds_h,bet_data.moneyline_odds_h,3,bet_data.abbr_name_h,bet_data.moneyline_odds_h,$index)">{{bet_data.abbr_name_h}} ML (<span ng-if="bet_data.moneyline_odds_h>0">+</span>{{bet_data.moneyline_odds_h}})</button>
            <button class='spread_bet' ng-class='{selected:ic.highlight[4], spread_bet_fake: ic.liveTime>bet_data.utc_game_time, spread_bet_fake2:bet_data.overunder_odds_o==0&&bet_data.overunder_odds_u==0}' ng-click="ic.saveData(4,bet_data.game_id,'3',1,bet_data.overunder_points,bet_data.overunder_odds_o,4,'OVER',bet_data.overunder_points,$index)">OVER  {{bet_data.overunder_points}} (<span ng-if="bet_data.overunder_odds_o>0">+</span>{{bet_data.overunder_odds_o}})</button>
            <button class='spread_bet' ng-class='{selected:ic.highlight[5], spread_bet_fake: ic.liveTime>bet_data.utc_game_time, spread_bet_fake2:bet_data.overunder_odds_o==0&&bet_data.overunder_odds_u==0}' ng-click="ic.saveData(5,bet_data.game_id,'3',0,bet_data.overunder_points,bet_data.overunder_odds_u,5,'UNDER',bet_data.overunder_points,$index)">UNDER {{bet_data.overunder_points}} (<span ng-if="bet_data.overunder_odds_u>0">+</span>{{bet_data.overunder_odds_u}})</button>
            <button ng-show="ic.saveBetData.game_id>0" type="button" class=" confirm_button" data-toggle="modal" data-target="#myModal" ng-if="bet_data.final_score_a==-1">Make Bet</button>
            <div ng-hide="ic.saveBetData.game_id>0" class="confirm_button_fake" ng-if="bet_data.final_score_a==-1">Make Bet</div>
        </div>
    </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <br>
                    <div class="modal_color">
                        <span>{{ic.saveBetData.side_name}}</span>
                        <span ng-if="ic.saveBetData.type_of_bet=='2'">ML</span>
                        <span ng-if="ic.saveBetData.type_of_bet=='1'||ic.saveBetData.type_of_bet=='3'"><span ng-if="ic.saveBetData.line2>0 && ic.saveBetData.type_of_bet=='1'">+</span>{{ic.saveBetData.line2}}</span>
                        <span>(<span ng-if="ic.saveBetData.odds>0">+</span>{{ic.saveBetData.odds}})</span>
                        <span>Wagering: $100</span>
                    </div>
                    <br>
                    <button type="button" class="spread_bet " data-dismiss="modal" ng-click="ic.sendBetData()">Confirm Bet</button>
                    <button type="button" class="spread_bet " data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

